section {
    font-family: "Thasadith", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    width: 100%;
    max-width: 600px;
    margin: 5px auto;
    background-color: rgb(46, 5, 85);
    border-bottom: 1px solid white;
    padding: 30px;
    color: white;
    text-align: left;
}

section p{
    font-size: 18px;
}

form label {
    font-size: 18px;
}

form select {
    font-size: 16px;
    padding: 3px 10px;
    border-radius: 5px;
}

.remove_btn {
    background-color: brown;
    width: 100%;
    max-width: 120px;
    text-align: center;
    margin-top: 10px;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.remove_btn:hover {
    cursor: pointer;
    box-shadow: none;
}